.wrap, .first { margin: 0 auto;/* min-width: 1000px; max-width: 1400px;*/ /*min-width: 1000px; max-width: 1300px;*/ }
.fullWrap { max-width: 1300px; background: #ffffff; /*min-width: 1000px;*/  }
.page-wrap, .second { width:4%; margin:0 auto; /*left: -2.15%;*/ position:relative; }
.page, .third { width:200%; margin-right:-100%; position:relative; }


/*.h1 { background: red; }
.h2 { background: #00ffff; }
.h3 { background: blue; }
.h4 { background: black; color: white; }
.h5 { background: lime; }
.h6 { background: yellow; }
.h7 { background: red; }
.h8 { background: white; }
.h9 { background: blue; }
.h10 { background: black; color: white; }
.h11 { background: lime; }
.h12 { background: yellow; }
.h13 { background: red; }
.h14 { background: white; }
.h15 { background: blue; }
.h16 { background: black; color: white; }
.h17 { background: lime; }
.h18 { background: yellow; }
.h19 { background: red; }
.h20 { background: white; }
.h21 { background: blue; }
.h22 { background: black; color: white; }
.h23 { background: lime; }
.h24 { background: yellow; }*/

.layer { float: left; width: 100%; margin-right: -100%; }
.layer.one { z-index: 1; }
.layer.two { z-index: 2; }
.layer.three { z-index: 3; }



.column { float: left; margin-left: -550%; }

.c6 { width: 50%; }
.c2_50_50 { width: 150%; }

.c24 { width: 50%; }

.c24.column1 { margin-left: -550%; }
.c24.column2 { margin-left: -500%; }
.c24.column3 { margin-left: -450%; }
.c24.column4 { margin-left: -400%; }
.c24.column5 { margin-left: -350%; }
.c24.column6 { margin-left: -300%; }
.c24.column7 { margin-left: -250%; }
.c24.column8 { margin-left: -200%; }
.c24.column9 { margin-left: -150%; }
.c24.column10 { margin-left: -100%; }
.c24.column11 { margin-left: -50%; }
.c24.column12 { margin-left: -0%; margin-right: -50%; }
.c24.column13 { margin-left: 50%; margin-right: -100%; }
.c24.column14 { margin-left: 100%; margin-right: -150%; }
.c24.column15 { margin-left: 150%; margin-right: -200%; }
.c24.column16 { margin-left: 200%; margin-right: -250%; }
.c24.column17 { margin-left: 250%; margin-right: -300%; }
.c24.column18 { margin-left: 300%; margin-right: -350%; }
.c24.column19 { margin-left: 350%; margin-right: -400%; }
.c24.column20 { margin-left: 400%; margin-right: -450%; }
.c24.column21 { margin-left: 450%; margin-right: -500%; }
.c24.column22 { margin-left: 500%; margin-right: -550%; }
.c24.column23 { margin-left: 550%; margin-right: -600%; }
.c24.column24 { margin-left: 600%; }

.c24_24 { width: 1200%; margin-left: -550%; }

.c24_8_16.column1 { width: 400%; margin-left: -550% }
.c24_8_16.column2 { width: 800%; margin-left: -150%; }

.c24_8_1_15.column1 { width: 400%; margin-left: -550% }
.c24_8_1_15.column2 { width: 750%; margin-left: -100%; }

.c24_8.column1 { width: 400%; margin-left: -550% }
.c24_8.column2 { width: 400%; margin-left: -150%; margin-right: -250%; }
.c24_8.column3 { width: 400%; margin-left: 250% }

.c24_16.column1 { width: 600%; margin-left: -550%; margin-right: -50%; }
.c24_16.column2 { width: 600%; margin-left: 50%; }

.c23 { width: 50%; }

.c23_23 { width: 1150%; margin-left: -550%;  }

.c23_7_1_7_1_7.h1 { width: 350%; margin-left: -550%; }
.c23_7_1_7_1_7.h2 { width: 350%; margin-left: -150%; margin-right: -350%; }
.c23_7_1_7_1_7.h3 { width: 350%; margin-left: 250%; }

/*.c23_7_1_7_1_7.m1 { width: 550%; margin-left: -550%; }
.c23_7_1_7_1_7.m2 { width: 550%; margin-left: 50%; }

.c23_7_1_7_1_7.s1 { width: 1150%; margin-left: -550%;  }*/


.c23_11_1_11.column1 { width: 550%; margin-left: -550%; }
.c23_11_1_11.column2 { width: 550%; margin-left: 50%; }


.c23_5_3_3_3_3_3_3.h1 { width: 250%; margin-left: -550%; }
.c23_5_3_3_3_3_3_3.h2 { width: 150%; margin-left: -300%; }
.c23_5_3_3_3_3_3_3.h3 { width: 150%; margin-left: -150%; }
.c23_5_3_3_3_3_3_3.h4 { width: 150%; margin-left: 0; margin-right: -150%; }
.c23_5_3_3_3_3_3_3.h5 { width: 150%; margin-left: 150%; margin-right: -300%; }
.c23_5_3_3_3_3_3_3.h6 { width: 150%; margin-left: 300%; margin-right: -450%; }
.c23_5_3_3_3_3_3_3.h7 { width: 150%; margin-left: 450%;  }


.c23_3_1_3_1_3_1_3_1_3_1_3.h1 { width: 150%; margin-left: -550%; }
.c23_3_1_3_1_3_1_3_1_3_1_3.h2 { width: 150%; margin-left: -350%; }
.c23_3_1_3_1_3_1_3_1_3_1_3.h3 { width: 150%; margin-left: -150%; }
.c23_3_1_3_1_3_1_3_1_3_1_3.h4 { width: 150%; margin-left: 50%; margin-right: -200%;  }
.c23_3_1_3_1_3_1_3_1_3_1_3.h5 { width: 150%; margin-left: 250%; margin-right: -450%; }
.c23_3_1_3_1_3_1_3_1_3_1_3.h6 { width: 150%; margin-left: 450%;  }