.h-padd5 { padding:5px; }
.h-padd10 { padding:10px; }
.h-padd15 { padding:15px; }
.h-padd20 { padding:20px; }
.h-padd30 { padding:30px; }

.h-hpadd5 { padding-left: 5px; padding-right: 5px; }
.h-hpadd10 { padding-left: 10px; padding-right: 10px; }
.h-hpadd15 { padding-left: 15px; padding-right: 15px; }
.h-hpadd20 { padding-left: 20px; padding-right: 20px; }
.h-hpadd30 { padding-left: 30px; padding-right: 30px; }

.h-vpadd3 { padding-top: 3px; padding-bottom: 3px; }
.h-vpadd5 { padding-top: 5px; padding-bottom: 5px; }
.h-vpadd10 { padding-top: 10px; padding-bottom: 10px; }
.h-vpadd15 { padding-top: 15px; padding-bottom: 15px; }
.h-vpadd20 { padding-top: 20px; padding-bottom: 20px; }
.h-vpadd30 { padding-top: 30px; padding-bottom: 30px; }

.h-pleft5 { padding-left:5px; }
.h-pleft10 { padding-left:10px; }
.h-pleft15 { padding-left:15px; }
.h-pleft20 { padding-left:20px; }
.h-pleft30 { padding-left:30px; }

.h-pright5 { padding-right:5px; }
.h-pright10 { padding-right:10px; }
.h-pright15 { padding-right:15px; }
.h-pright20 { padding-right:20px; }
.h-pright30 { padding-right:30px; }

.h-ptop5 { padding-top:5px; }
.h-ptop10 { padding-top:10px; }
.h-ptop15 { padding-top:15px; }
.h-ptop20 { padding-top:20px; }
.h-ptop30 { padding-top:30px; }

.h-pbottom5 { padding-bottom:5px; }
.h-pbottom10 { padding-bottom:10px; }
.h-pbottom15 { padding-bottom:15px; }
.h-pbottom20 { padding-bottom:20px; }
.h-pbottom30 { padding-bottom:30px; }

.h-padd5 { padding:5px; }
.h-padd10 { padding:10px; }
.h-padd15 { padding:15px; }
.h-padd20 { padding:20px; }
.h-padd30 { padding:30px; }

.h-marg5 { margin:5px; }
.h-marg10 { margin:10px; }
.h-marg15 { margin:15px; }
.h-marg20 { margin:20px; }
.h-marg30 { margin:30px; }

.h-mleft5 { margin-left:5px; }
.h-mleft10 { margin-left:10px; }
.h-mleft15 { margin-left:15px; }
.h-mleft20 { margin-left:20px; }
.h-mleft30 { margin-left:30px; }

.h-mright5 { margin-right:5px; }
.h-mright10 { margin-right:10px; }
.h-mright15 { margin-right:15px; }
.h-mright20 { margin-right:20px; }
.h-mright30 { margin-right:30px; }

.h-mtop5 { margin-top:5px; }
.h-mtop10 { margin-top:10px; }
.h-mtop15 { margin-top:15px; }
.h-mtop20 { margin-top:20px; }
.h-mtop30 { margin-top:30px; }

.h-mbottom5 { margin-bottom:5px; }
.h-mbottom10 { margin-bottom:10px; }
.h-mbottom15 { margin-bottom:15px; }
.h-mbottom20 { margin-bottom:20px; }
.h-mbottom30 { margin-bottom:30px; }

/* position */
.h-pa { position: absolute; }
.h-pr { position: relative; }
.h-pf { position: fixed; }

/* position */
.h-pa { position: absolute; }
.h-pr { position: relative; }
.h-pf { position: fixed; }

/* cb */
.s-cb { clear: none; }
.m-cb { clear: none; }
.h-cb { clear: both; }

.h-dn { display: none; }
.h-db { display: block; }

/* font */
.h-fs10 { font-size: 10px; line-height: 1.2em; }
.h-fs11 { font-size: 11px; line-height: 1.2em; }
.h-fs12 { font-size: 12px; line-height: 1.4em; }
.h-fs13 { font-size: 13px; line-height: 1.2em; }
.h-fs14 { font-size: 14px; line-height: 1.2em; }
.h-fs15 { font-size: 15px; line-height: 1.2em; }
.h-fs16 { font-size: 16px; line-height: 1.2em; }
.h-fs17 { font-size: 17px; line-height: 1.2em; }
.h-fs18 { font-size: 18px; line-height: 1.2em; }
.h-fs19 { font-size: 19px; line-height: 1.2em; }
.h-fs20 { font-size: 20px; line-height: 1.2em; }
.h-fs21 { font-size: 21px; line-height: 1.2em; }
.h-fs22 { font-size: 22px; line-height: 1.2em; }
.h-fs23 { font-size: 23px; line-height: 1.2em; }
.h-fs24 { font-size: 24px; line-height: 1.2em; }
.h-fs26 { font-size: 24px; line-height: 1.2em; }
.h-fs30 { font-size: 30px; line-height: 1.2em; }
.h-fs35 { font-size: 35px; line-height: 1.2em; }
.h-fs40 { font-size: 40px; line-height: 1.2em; }
.h-fs45 { font-size: 45px; line-height: 1.2em; }
.h-fs50 { font-size: 50px; line-height: 1.2em; }
.h-fs55 { font-size: 55px; line-height: 1.2em; }
.h-fs60 { font-size: 60px; line-height: 1.2em; }
.h-fs65 { font-size: 65px; line-height: 1.2em; }


/* clear */
.h-clear-marg-i { margin:0 !important; }
.h-clear-mright-i { margin-right:0 !important; }
.h-clear-mtop-i { margin-top:0 !important; }
.h-clear-mleft-i { margin-left:0 !important; }
.h-clear-mbottom-i { margin-bottom:0 !important; }

.h-clear-padd-i { padding:0 !important; }
.h-clear-pright-i { padding-right:0 !important; }
.h-clear-ptop-i { padding-top:0 !important; }
.h-clear-pleft-i { padding-left:0 !important; }
.h-clear-pbottom-i { padding-bottom:0 !important; }

/* text align */
.h-tal { text-align: left; }
.h-tar { text-align: right; }
.h-tac { text-align: center; }

/* float */
.h-fl { float: left; }
.h-fr { float: right; }
.h-fn { float: none; }