/*
h1, .likeH1 { text-transform: none; font-family: "upturamedium-italicitalic"; font-style: normal; font-weight: normal; font-size: 38px; line-height: 1em; padding-bottom: 20px; padding-top: 20px; }

.h1-to-h2 h1,
.h1-to-h2 .likeH1,
h2, .likeH2 { text-transform: none; font-family: "upturamedium-italicitalic"; font-style: normal; font-weight: normal; font-size: 26px; line-height: 1.1em; padding-bottom: 5px; padding-top: 10px; }

.h1-to-h3 h1,
.h1-to-h3 .likeH1,
h3, .likeH3 { font-family: "upritura_mediumregular"; font-style: normal; font-weight: normal; font-size: 16px; line-height: 1.1em; padding-bottom: 5px; padding-top: 15px; text-transform: uppercase; }
.likeH3wp { font-family: "upritura_mediumregular"; font-style: normal; font-weight: normal; font-size: 16px; line-height: 1.1em; text-transform: uppercase; }
*/


.m-padd5 { padding:5px; }
.m-padd10 { padding:10px; }
.m-padd15 { padding:15px; }
.m-padd20 { padding:20px; }
.m-padd30 { padding:30px; }

.m-hpadd5 { padding-left: 5px; padding-right: 5px; }
.m-hpadd10 { padding-left: 10px; padding-right: 10px; }
.m-hpadd15 { padding-left: 15px; padding-right: 15px; }
.m-hpadd20 { padding-left: 20px; padding-right: 20px; }
.m-hpadd30 { padding-left: 30px; padding-right: 30px; }

.m-vpadd3 { padding-top: 3px; padding-bottom: 3px; }
.m-vpadd5 { padding-top: 5px; padding-bottom: 5px; }
.m-vpadd10 { padding-top: 10px; padding-bottom: 10px; }
.m-vpadd15 { padding-top: 15px; padding-bottom: 15px; }
.m-vpadd20 { padding-top: 20px; padding-bottom: 20px; }
.m-vpadd30 { padding-top: 30px; padding-bottom: 30px; }

.m-pleft5 { padding-left:5px; }
.m-pleft10 { padding-left:10px; }
.m-pleft15 { padding-left:15px; }
.m-pleft20 { padding-left:20px; }
.m-pleft30 { padding-left:30px; }

.m-pright5 { padding-right:5px; }
.m-pright10 { padding-right:10px; }
.m-pright15 { padding-right:15px; }
.m-pright20 { padding-right:20px; }
.m-pright30 { padding-right:30px; }

.m-ptop5 { padding-top:5px; }
.m-ptop10 { padding-top:10px; }
.m-ptop15 { padding-top:15px; }
.m-ptop20 { padding-top:20px; }
.m-ptop30 { padding-top:30px; }

.m-pbottom5 { padding-bottom:5px; }
.m-pbottom10 { padding-bottom:10px; }
.m-pbottom15 { padding-bottom:15px; }
.m-pbottom20 { padding-bottom:20px; }
.m-pbottom30 { padding-bottom:30px; }

.m-padd5 { padding:5px; }
.m-padd10 { padding:10px; }
.m-padd15 { padding:15px; }
.m-padd20 { padding:20px; }
.m-padd30 { padding:30px; }

.m-marg5 { margin:5px; }
.m-marg10 { margin:10px; }
.m-marg15 { margin:15px; }
.m-marg20 { margin:20px; }
.m-marg30 { margin:30px; }

.m-mleft5 { margin-left:5px; }
.m-mleft10 { margin-left:10px; }
.m-mleft15 { margin-left:15px; }
.m-mleft20 { margin-left:20px; }
.m-mleft30 { margin-left:30px; }

.m-mright5 { margin-right:5px; }
.m-mright10 { margin-right:10px; }
.m-mright15 { margin-right:15px; }
.m-mright20 { margin-right:20px; }
.m-mright30 { margin-right:30px; }

.m-mtop5 { margin-top:5px; }
.m-mtop10 { margin-top:10px; }
.m-mtop15 { margin-top:15px; }
.m-mtop20 { margin-top:20px; }
.m-mtop30 { margin-top:30px; }

.m-mbottom5 { margin-bottom:5px; }
.m-mbottom10 { margin-bottom:10px; }
.m-mbottom15 { margin-bottom:15px; }
.m-mbottom20 { margin-bottom:20px; }
.m-mbottom30 { margin-bottom:30px; }


.m-bgGray1 { background-color: #f1f1f1; }


/** form **/
.form .fieldTitle { width: 100px; text-align: right; float: left; }
.form .field { margin-left: 120px; }