.m-padd5 {
  padding: 5px; }

.m-padd10 {
  padding: 10px; }

.m-padd15 {
  padding: 15px; }

.m-padd20 {
  padding: 20px; }

.m-padd30 {
  padding: 30px; }

.m-hpadd5 {
  padding-left: 5px;
  padding-right: 5px; }

.m-hpadd10 {
  padding-left: 10px;
  padding-right: 10px; }

.m-hpadd15 {
  padding-left: 15px;
  padding-right: 15px; }

.m-hpadd20 {
  padding-left: 20px;
  padding-right: 20px; }

.m-hpadd30 {
  padding-left: 30px;
  padding-right: 30px; }

.m-vpadd3 {
  padding-top: 3px;
  padding-bottom: 3px; }

.m-vpadd5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.m-vpadd10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.m-vpadd15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.m-vpadd20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.m-vpadd30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.m-pleft5 {
  padding-left: 5px; }

.m-pleft10 {
  padding-left: 10px; }

.m-pleft15 {
  padding-left: 15px; }

.m-pleft20 {
  padding-left: 20px; }

.m-pleft30 {
  padding-left: 30px; }

.m-pright5 {
  padding-right: 5px; }

.m-pright10 {
  padding-right: 10px; }

.m-pright15 {
  padding-right: 15px; }

.m-pright20 {
  padding-right: 20px; }

.m-pright30 {
  padding-right: 30px; }

.m-ptop5 {
  padding-top: 5px; }

.m-ptop10 {
  padding-top: 10px; }

.m-ptop15 {
  padding-top: 15px; }

.m-ptop20 {
  padding-top: 20px; }

.m-ptop30 {
  padding-top: 30px; }

.m-pbottom5 {
  padding-bottom: 5px; }

.m-pbottom10 {
  padding-bottom: 10px; }

.m-pbottom15 {
  padding-bottom: 15px; }

.m-pbottom20 {
  padding-bottom: 20px; }

.m-pbottom30 {
  padding-bottom: 30px; }

.m-padd5 {
  padding: 5px; }

.m-padd10 {
  padding: 10px; }

.m-padd15 {
  padding: 15px; }

.m-padd20 {
  padding: 20px; }

.m-padd30 {
  padding: 30px; }

.m-marg5 {
  margin: 5px; }

.m-marg10 {
  margin: 10px; }

.m-marg15 {
  margin: 15px; }

.m-marg20 {
  margin: 20px; }

.m-marg30 {
  margin: 30px; }

.m-mleft5 {
  margin-left: 5px; }

.m-mleft10 {
  margin-left: 10px; }

.m-mleft15 {
  margin-left: 15px; }

.m-mleft20 {
  margin-left: 20px; }

.m-mleft30 {
  margin-left: 30px; }

.m-mright5 {
  margin-right: 5px; }

.m-mright10 {
  margin-right: 10px; }

.m-mright15 {
  margin-right: 15px; }

.m-mright20 {
  margin-right: 20px; }

.m-mright30 {
  margin-right: 30px; }

.m-mtop5 {
  margin-top: 5px; }

.m-mtop10 {
  margin-top: 10px; }

.m-mtop15 {
  margin-top: 15px; }

.m-mtop20 {
  margin-top: 20px; }

.m-mtop30 {
  margin-top: 30px; }

.m-mbottom5 {
  margin-bottom: 5px; }

.m-mbottom10 {
  margin-bottom: 10px; }

.m-mbottom15 {
  margin-bottom: 15px; }

.m-mbottom20 {
  margin-bottom: 20px; }

.m-mbottom30 {
  margin-bottom: 30px; }

/* position */
.m-pa {
  position: absolute; }

.m-pr {
  position: relative; }

.m-pf {
  position: fixed; }

/* position */
.m-pa {
  position: absolute; }

.m-pr {
  position: relative; }

.m-pf {
  position: fixed; }

/* cb */
.s-cb {
  clear: none; }

.m-cb {
  clear: none; }

.m-cb {
  clear: both; }

.m-dn {
  display: none; }

.m-db {
  display: block; }

/* font */
.m-fs10 {
  font-size: 10px;
  line-height: 1.2em; }

.m-fs11 {
  font-size: 11px;
  line-height: 1.2em; }

.m-fs12 {
  font-size: 12px;
  line-height: 1.4em; }

.m-fs13 {
  font-size: 13px;
  line-height: 1.2em; }

.m-fs14 {
  font-size: 14px;
  line-height: 1.2em; }

.m-fs15 {
  font-size: 15px;
  line-height: 1.2em; }

.m-fs16 {
  font-size: 16px;
  line-height: 1.2em; }

.m-fs17 {
  font-size: 17px;
  line-height: 1.2em; }

.m-fs18 {
  font-size: 18px;
  line-height: 1.2em; }

.m-fs19 {
  font-size: 19px;
  line-height: 1.2em; }

.m-fs20 {
  font-size: 20px;
  line-height: 1.2em; }

.m-fs21 {
  font-size: 21px;
  line-height: 1.2em; }

.m-fs22 {
  font-size: 22px;
  line-height: 1.2em; }

.m-fs23 {
  font-size: 23px;
  line-height: 1.2em; }

.m-fs24 {
  font-size: 24px;
  line-height: 1.2em; }

.m-fs26 {
  font-size: 24px;
  line-height: 1.2em; }

.m-fs30 {
  font-size: 30px;
  line-height: 1.2em; }

.m-fs35 {
  font-size: 35px;
  line-height: 1.2em; }

.m-fs40 {
  font-size: 40px;
  line-height: 1.2em; }

.m-fs45 {
  font-size: 45px;
  line-height: 1.2em; }

.m-fs50 {
  font-size: 50px;
  line-height: 1.2em; }

.m-fs55 {
  font-size: 55px;
  line-height: 1.2em; }

.m-fs60 {
  font-size: 60px;
  line-height: 1.2em; }

.m-fs65 {
  font-size: 65px;
  line-height: 1.2em; }

/* clear */
.m-clear-marg-i {
  margin: 0 !important; }

.m-clear-mright-i {
  margin-right: 0 !important; }

.m-clear-mtop-i {
  margin-top: 0 !important; }

.m-clear-mleft-i {
  margin-left: 0 !important; }

.m-clear-mbottom-i {
  margin-bottom: 0 !important; }

.m-clear-padd-i {
  padding: 0 !important; }

.m-clear-pright-i {
  padding-right: 0 !important; }

.m-clear-ptop-i {
  padding-top: 0 !important; }

.m-clear-pleft-i {
  padding-left: 0 !important; }

.m-clear-pbottom-i {
  padding-bottom: 0 !important; }

/* text align */
.m-tal {
  text-align: left; }

.m-tar {
  text-align: right; }

.m-tac {
  text-align: center; }

/* float */
.m-fl {
  float: left; }

.m-fr {
  float: right; }

.m-fn {
  float: none; }

/*# sourceMappingURL=m-add.css.map */
