.s-padd5 { padding:5px; }
.s-padd10 { padding:10px; }
.s-padd15 { padding:15px; }
.s-padd20 { padding:20px; }
.s-padd30 { padding:30px; }

.s-hpadd5 { padding-left: 5px; padding-right: 5px; }
.s-hpadd10 { padding-left: 10px; padding-right: 10px; }
.s-hpadd15 { padding-left: 15px; padding-right: 15px; }
.s-hpadd20 { padding-left: 20px; padding-right: 20px; }
.s-hpadd30 { padding-left: 30px; padding-right: 30px; }

.s-vpadd3 { padding-top: 3px; padding-bottom: 3px; }
.s-vpadd5 { padding-top: 5px; padding-bottom: 5px; }
.s-vpadd10 { padding-top: 10px; padding-bottom: 10px; }
.s-vpadd15 { padding-top: 15px; padding-bottom: 15px; }
.s-vpadd20 { padding-top: 20px; padding-bottom: 20px; }
.s-vpadd30 { padding-top: 30px; padding-bottom: 30px; }

.s-pleft5 { padding-left:5px; }
.s-pleft10 { padding-left:10px; }
.s-pleft15 { padding-left:15px; }
.s-pleft20 { padding-left:20px; }
.s-pleft30 { padding-left:30px; }

.s-pright5 { padding-right:5px; }
.s-pright10 { padding-right:10px; }
.s-pright15 { padding-right:15px; }
.s-pright20 { padding-right:20px; }
.s-pright30 { padding-right:30px; }

.s-ptop5 { padding-top:5px; }
.s-ptop10 { padding-top:10px; }
.s-ptop15 { padding-top:15px; }
.s-ptop20 { padding-top:20px; }
.s-ptop30 { padding-top:30px; }

.s-pbottom5 { padding-bottom:5px; }
.s-pbottom10 { padding-bottom:10px; }
.s-pbottom15 { padding-bottom:15px; }
.s-pbottom20 { padding-bottom:20px; }
.s-pbottom30 { padding-bottom:30px; }

.s-padd5 { padding:5px; }
.s-padd10 { padding:10px; }
.s-padd15 { padding:15px; }
.s-padd20 { padding:20px; }
.s-padd30 { padding:30px; }

.s-marg5 { margin:5px; }
.s-marg10 { margin:10px; }
.s-marg15 { margin:15px; }
.s-marg20 { margin:20px; }
.s-marg30 { margin:30px; }

.s-mleft5 { margin-left:5px; }
.s-mleft10 { margin-left:10px; }
.s-mleft15 { margin-left:15px; }
.s-mleft20 { margin-left:20px; }
.s-mleft30 { margin-left:30px; }

.s-mright5 { margin-right:5px; }
.s-mright10 { margin-right:10px; }
.s-mright15 { margin-right:15px; }
.s-mright20 { margin-right:20px; }
.s-mright30 { margin-right:30px; }

.s-mtop5 { margin-top:5px; }
.s-mtop10 { margin-top:10px; }
.s-mtop15 { margin-top:15px; }
.s-mtop20 { margin-top:20px; }
.s-mtop30 { margin-top:30px; }

.s-mbottom5 { margin-bottom:5px; }
.s-mbottom10 { margin-bottom:10px; }
.s-mbottom15 { margin-bottom:15px; }
.s-mbottom20 { margin-bottom:20px; }
.s-mbottom30 { margin-bottom:30px; }


/* position */
.s-pa { position: absolute; }
.s-pr { position: relative; }
.s-pf { position: fixed; }

/* position */
.s-pa { position: absolute; }
.s-pr { position: relative; }
.s-pf { position: fixed; }

/* cb */
.s-cb { clear: none; }
.m-cb { clear: none; }
.s-cb { clear: both; }

.s-dn { display: none; }
.s-db { display: block; }

/* font */
.s-fs10 { font-size: 10px; line-height: 1.2em; }
.s-fs11 { font-size: 11px; line-height: 1.2em; }
.s-fs12 { font-size: 12px; line-height: 1.4em; }
.s-fs13 { font-size: 13px; line-height: 1.2em; }
.s-fs14 { font-size: 14px; line-height: 1.2em; }
.s-fs15 { font-size: 15px; line-height: 1.2em; }
.s-fs16 { font-size: 16px; line-height: 1.2em; }
.s-fs17 { font-size: 17px; line-height: 1.2em; }
.s-fs18 { font-size: 18px; line-height: 1.2em; }
.s-fs19 { font-size: 19px; line-height: 1.2em; }
.s-fs20 { font-size: 20px; line-height: 1.2em; }
.s-fs21 { font-size: 21px; line-height: 1.2em; }
.s-fs22 { font-size: 22px; line-height: 1.2em; }
.s-fs23 { font-size: 23px; line-height: 1.2em; }
.s-fs24 { font-size: 24px; line-height: 1.2em; }
.s-fs26 { font-size: 24px; line-height: 1.2em; }
.s-fs30 { font-size: 30px; line-height: 1.2em; }
.s-fs35 { font-size: 35px; line-height: 1.2em; }
.s-fs40 { font-size: 40px; line-height: 1.2em; }
.s-fs45 { font-size: 45px; line-height: 1.2em; }
.s-fs50 { font-size: 50px; line-height: 1.2em; }
.s-fs55 { font-size: 55px; line-height: 1.2em; }
.s-fs60 { font-size: 60px; line-height: 1.2em; }
.s-fs65 { font-size: 65px; line-height: 1.2em; }


/* clear */
.s-clear-marg-i { margin:0 !important; }
.s-clear-mright-i { margin-right:0 !important; }
.s-clear-mtop-i { margin-top:0 !important; }
.s-clear-mleft-i { margin-left:0 !important; }
.s-clear-mbottom-i { margin-bottom:0 !important; }

.s-clear-padd-i { padding:0 !important; }
.s-clear-pright-i { padding-right:0 !important; }
.s-clear-ptop-i { padding-top:0 !important; }
.s-clear-pleft-i { padding-left:0 !important; }
.s-clear-pbottom-i { padding-bottom:0 !important; }

/* text align */
.s-tal { text-align: left; }
.s-tar { text-align: right; }
.s-tac { text-align: center; }

/* float */
.s-fl { float: left; }
.s-fr { float: right; }
.s-fn { float: none; }