/* clear */
.h-cb { clear: none; }

.h-push-1,
.h-push-2,
.h-push-3,
.h-push-4,
.h-push-5,
.h-push-6,
.h-push-7,
.h-push-8,
.h-push-9,
.h-push-10,
.h-push-11,
.h-push-12,
.h-push-13,
.h-push-14,
.h-push-15,
.h-push-16,
.h-push-17,
.h-push-18,
.h-push-19,
.h-push-20,
.h-push-21,
.h-push-22,
.h-push-23 { margin-left: -550%; }

/** cb **/
.s-cb { clear: both; }
/*.m-cb { clear: both; }*/

/** ширина **/
.s-width-1 { width: 50%; margin-right: -100%; }
.s-width-2 { width: 100%; margin-right: -150%; }
.s-width-3 { width: 150%; margin-right: -200%; }
.s-width-4 { width: 200%; margin-right: -250%; }
.s-width-5 { width: 250%; margin-right: -300%; }
.s-width-6 { width: 300%; margin-right: -350%; }
.s-width-7 { width: 350%; margin-right: -400%; }
.s-width-8 { width: 400%; margin-right: -450%; }
.s-width-9 { width: 450%; margin-right: -500%; }
.s-width-10 { width: 500%; margin-right: -550%; }
.s-width-11 { width: 550%; margin-right: -600%; }
.s-width-11-5 { width: 575%; margin-right: -625%; }
.s-width-12 { width: 600%; margin-right: -650%; }
.s-width-13 { width: 650%; margin-right: -700%; }
.s-width-14 { width: 700%; margin-right: -750%; }
.s-width-15 { width: 750%; margin-right: -800%; }
.s-width-16 { width: 800%; margin-right: -850%; }
.s-width-17 { width: 850%; margin-right: -900%; }
.s-width-18 { width: 900%; margin-right: -950%; }
.s-width-19 { width: 950%; margin-right: -1000%; }
.s-width-20 { width: 1000%; margin-right: -1050%; }
.s-width-21 { width: 1050%; margin-right: -1100%; }
.s-width-22 { width: 1100%; margin-right: -1150%; }
.s-width-23 { width: 1150%; margin-right: -1200%; }

/** отступы слева **/
.s-push-0 { margin-left: -550%; }
.s-push-1 { margin-left: -500%; }
.s-push-2 { margin-left: -450%; }
.s-push-3 { margin-left: -400%; }
.s-push-4 { margin-left: -350%; }
.s-push-5 { margin-left: -300%; }
.s-push-6 { margin-left: -250%; }
.s-push-7 { margin-left: -200%; }
.s-push-8 { margin-left: -150%; }
.s-push-9 { margin-left: -100%; }
.s-push-10 { margin-left: -50%; }
.s-push-11 { margin-left: 0%; }
.s-push-11-5 { margin-left: 25%; }
.s-push-12 { margin-left: 50%; }
.s-push-13 { margin-left: 100%; }
.s-push-14 { margin-left: 150%; }
.s-push-15 { margin-left: 200%; }
.s-push-16 { margin-left: 250%; }
.s-push-17 { margin-left: 300%; }
.s-push-18 { margin-left: 350%; }
.s-push-19 { margin-left: 400%; }
.s-push-20 { margin-left: 450%; }
.s-push-21 { margin-left: 500%; }
.s-push-22 { margin-left: 550%; }
.s-push-23 { margin-left: 600%; }

/** отступы справа **/
.s-width-1.s-push-1 { margin-right: -150%; }
.s-width-1.s-push-2 { margin-right: -200%; }
.s-width-1.s-push-3 { margin-right: -250%; }
.s-width-1.s-push-4 { margin-right: -300%; }
.s-width-1.s-push-5 { margin-right: -350%; }
.s-width-1.s-push-6 { margin-right: -400%; }
.s-width-1.s-push-7 { margin-right: -450%; }
.s-width-1.s-push-8 { margin-right: -500%; }
.s-width-1.s-push-9 { margin-right: -550%; }
.s-width-1.s-push-10 { margin-right: -600%; }
.s-width-1.s-push-11 { margin-right: -650%; }
.s-width-1.s-push-12 { margin-right: -700%; }
.s-width-1.s-push-13 { margin-right: -750%; }
.s-width-1.s-push-14 { margin-right: -800%; }
.s-width-1.s-push-15 { margin-right: -850%; }
.s-width-1.s-push-16 { margin-right: -900%; }
.s-width-1.s-push-17 { margin-right: -950%; }
.s-width-1.s-push-18 { margin-right: -1000%; }
.s-width-1.s-push-19 { margin-right: -1050%; }
.s-width-1.s-push-20 { margin-right: -1100%; }
.s-width-1.s-push-21 { margin-right: -1150%; }
.s-width-1.s-push-22 { margin-right: -1200%; }
.s-width-1.s-push-23 { margin-right: -1250%; }
.s-width-2.s-push-1 { margin-right: -200%; }
.s-width-2.s-push-2 { margin-right: -250%; }
.s-width-2.s-push-3 { margin-right: -300%; }
.s-width-2.s-push-4 { margin-right: -350%; }
.s-width-2.s-push-5 { margin-right: -400%; }
.s-width-2.s-push-6 { margin-right: -450%; }
.s-width-2.s-push-7 { margin-right: -500%; }
.s-width-2.s-push-8 { margin-right: -550%; }
.s-width-2.s-push-9 { margin-right: -600%; }
.s-width-2.s-push-10 { margin-right: -650%; }
.s-width-2.s-push-11 { margin-right: -700%; }
.s-width-2.s-push-12 { margin-right: -750%; }
.s-width-2.s-push-13 { margin-right: -800%; }
.s-width-2.s-push-14 { margin-right: -850%; }
.s-width-2.s-push-15 { margin-right: -900%; }
.s-width-2.s-push-16 { margin-right: -950%; }
.s-width-2.s-push-17 { margin-right: -1000%; }
.s-width-2.s-push-18 { margin-right: -1050%; }
.s-width-2.s-push-19 { margin-right: -1100%; }
.s-width-2.s-push-20 { margin-right: -1150%; }
.s-width-2.s-push-21 { margin-right: -1200%; }
.s-width-2.s-push-22 { margin-right: -1250%; }
.s-width-2.s-push-23 { margin-right: -1300%; }
.s-width-3.s-push-1 { margin-right: -250%; }
.s-width-3.s-push-2 { margin-right: -300%; }
.s-width-3.s-push-3 { margin-right: -350%; }
.s-width-3.s-push-4 { margin-right: -400%; }
.s-width-3.s-push-5 { margin-right: -450%; }
.s-width-3.s-push-6 { margin-right: -500%; }
.s-width-3.s-push-7 { margin-right: -550%; }
.s-width-3.s-push-8 { margin-right: -600%; }
.s-width-3.s-push-9 { margin-right: -650%; }
.s-width-3.s-push-10 { margin-right: -700%; }
.s-width-3.s-push-11 { margin-right: -750%; }
.s-width-3.s-push-12 { margin-right: -800%; }
.s-width-3.s-push-13 { margin-right: -850%; }
.s-width-3.s-push-14 { margin-right: -900%; }
.s-width-3.s-push-15 { margin-right: -950%; }
.s-width-3.s-push-16 { margin-right: -1000%; }
.s-width-3.s-push-17 { margin-right: -1050%; }
.s-width-3.s-push-18 { margin-right: -1100%; }
.s-width-3.s-push-19 { margin-right: -1150%; }
.s-width-3.s-push-20 { margin-right: -1200%; }
.s-width-3.s-push-21 { margin-right: -1250%; }
.s-width-3.s-push-22 { margin-right: -1300%; }
.s-width-3.s-push-23 { margin-right: -1350%; }
.s-width-4.s-push-1 { margin-right: -300%; }
.s-width-4.s-push-2 { margin-right: -350%; }
.s-width-4.s-push-3 { margin-right: -400%; }
.s-width-4.s-push-4 { margin-right: -450%; }
.s-width-4.s-push-5 { margin-right: -500%; }
.s-width-4.s-push-6 { margin-right: -550%; }
.s-width-4.s-push-7 { margin-right: -600%; }
.s-width-4.s-push-8 { margin-right: -650%; }
.s-width-4.s-push-9 { margin-right: -700%; }
.s-width-4.s-push-10 { margin-right: -750%; }
.s-width-4.s-push-11 { margin-right: -800%; }
.s-width-4.s-push-12 { margin-right: -850%; }
.s-width-4.s-push-13 { margin-right: -900%; }
.s-width-4.s-push-14 { margin-right: -950%; }
.s-width-4.s-push-15 { margin-right: -1000%; }
.s-width-4.s-push-16 { margin-right: -1050%; }
.s-width-4.s-push-17 { margin-right: -1100%; }
.s-width-4.s-push-18 { margin-right: -1150%; }
.s-width-4.s-push-19 { margin-right: -1200%; }
.s-width-4.s-push-20 { margin-right: -1250%; }
.s-width-4.s-push-21 { margin-right: -1300%; }
.s-width-4.s-push-22 { margin-right: -1350%; }
.s-width-4.s-push-23 { margin-right: -1400%; }
.s-width-5.s-push-1 { margin-right: -350%; }
.s-width-5.s-push-2 { margin-right: -400%; }
.s-width-5.s-push-3 { margin-right: -450%; }
.s-width-5.s-push-4 { margin-right: -500%; }
.s-width-5.s-push-5 { margin-right: -550%; }
.s-width-5.s-push-6 { margin-right: -600%; }
.s-width-5.s-push-7 { margin-right: -650%; }
.s-width-5.s-push-8 { margin-right: -700%; }
.s-width-5.s-push-9 { margin-right: -750%; }
.s-width-5.s-push-10 { margin-right: -800%; }
.s-width-5.s-push-11 { margin-right: -850%; }
.s-width-5.s-push-12 { margin-right: -900%; }
.s-width-5.s-push-13 { margin-right: -950%; }
.s-width-5.s-push-14 { margin-right: -1000%; }
.s-width-5.s-push-15 { margin-right: -1050%; }
.s-width-5.s-push-16 { margin-right: -1100%; }
.s-width-5.s-push-17 { margin-right: -1150%; }
.s-width-5.s-push-18 { margin-right: -1200%; }
.s-width-5.s-push-19 { margin-right: -1250%; }
.s-width-5.s-push-20 { margin-right: -1300%; }
.s-width-5.s-push-21 { margin-right: -1350%; }
.s-width-5.s-push-22 { margin-right: -1400%; }
.s-width-5.s-push-23 { margin-right: -1450%; }
.s-width-6.s-push-1 { margin-right: -400%; }
.s-width-6.s-push-2 { margin-right: -450%; }
.s-width-6.s-push-3 { margin-right: -500%; }
.s-width-6.s-push-4 { margin-right: -550%; }
.s-width-6.s-push-5 { margin-right: -600%; }
.s-width-6.s-push-6 { margin-right: -650%; }
.s-width-6.s-push-7 { margin-right: -700%; }
.s-width-6.s-push-8 { margin-right: -750%; }
.s-width-6.s-push-9 { margin-right: -800%; }
.s-width-6.s-push-10 { margin-right: -850%; }
.s-width-6.s-push-11 { margin-right: -900%; }
.s-width-6.s-push-12 { margin-right: -950%; }
.s-width-6.s-push-13 { margin-right: -1000%; }
.s-width-6.s-push-14 { margin-right: -1050%; }
.s-width-6.s-push-15 { margin-right: -1100%; }
.s-width-6.s-push-16 { margin-right: -1150%; }
.s-width-6.s-push-17 { margin-right: -1200%; }
.s-width-6.s-push-18 { margin-right: -1250%; }
.s-width-6.s-push-19 { margin-right: -1300%; }
.s-width-6.s-push-20 { margin-right: -1350%; }
.s-width-6.s-push-21 { margin-right: -1400%; }
.s-width-6.s-push-22 { margin-right: -1450%; }
.s-width-6.s-push-23 { margin-right: -1500%; }
.s-width-7.s-push-1 { margin-right: -450%; }
.s-width-7.s-push-2 { margin-right: -500%; }
.s-width-7.s-push-3 { margin-right: -550%; }
.s-width-7.s-push-4 { margin-right: -600%; }
.s-width-7.s-push-5 { margin-right: -650%; }
.s-width-7.s-push-6 { margin-right: -700%; }
.s-width-7.s-push-7 { margin-right: -750%; }
.s-width-7.s-push-8 { margin-right: -800%; }
.s-width-7.s-push-9 { margin-right: -850%; }
.s-width-7.s-push-10 { margin-right: -900%; }
.s-width-7.s-push-11 { margin-right: -950%; }
.s-width-7.s-push-12 { margin-right: -1000%; }
.s-width-7.s-push-13 { margin-right: -1050%; }
.s-width-7.s-push-14 { margin-right: -1100%; }
.s-width-7.s-push-15 { margin-right: -1150%; }
.s-width-7.s-push-16 { margin-right: -1200%; }
.s-width-7.s-push-17 { margin-right: -1250%; }
.s-width-7.s-push-18 { margin-right: -1300%; }
.s-width-7.s-push-19 { margin-right: -1350%; }
.s-width-7.s-push-20 { margin-right: -1400%; }
.s-width-7.s-push-21 { margin-right: -1450%; }
.s-width-7.s-push-22 { margin-right: -1500%; }
.s-width-7.s-push-23 { margin-right: -1550%; }
.s-width-8.s-push-1 { margin-right: -500%; }
.s-width-8.s-push-2 { margin-right: -550%; }
.s-width-8.s-push-3 { margin-right: -600%; }
.s-width-8.s-push-4 { margin-right: -650%; }
.s-width-8.s-push-5 { margin-right: -700%; }
.s-width-8.s-push-6 { margin-right: -750%; }
.s-width-8.s-push-7 { margin-right: -800%; }
.s-width-8.s-push-8 { margin-right: -850%; }
.s-width-8.s-push-9 { margin-right: -900%; }
.s-width-8.s-push-10 { margin-right: -950%; }
.s-width-8.s-push-11 { margin-right: -1000%; }
.s-width-8.s-push-12 { margin-right: -1050%; }
.s-width-8.s-push-13 { margin-right: -1100%; }
.s-width-8.s-push-14 { margin-right: -1150%; }
.s-width-8.s-push-15 { margin-right: -1200%; }
.s-width-8.s-push-16 { margin-right: -1250%; }
.s-width-8.s-push-17 { margin-right: -1300%; }
.s-width-8.s-push-18 { margin-right: -1350%; }
.s-width-8.s-push-19 { margin-right: -1400%; }
.s-width-8.s-push-20 { margin-right: -1450%; }
.s-width-8.s-push-21 { margin-right: -1500%; }
.s-width-8.s-push-22 { margin-right: -1550%; }
.s-width-8.s-push-23 { margin-right: -1600%; }
.s-width-9.s-push-1 { margin-right: -550%; }
.s-width-9.s-push-2 { margin-right: -600%; }
.s-width-9.s-push-3 { margin-right: -650%; }
.s-width-9.s-push-4 { margin-right: -700%; }
.s-width-9.s-push-5 { margin-right: -750%; }
.s-width-9.s-push-6 { margin-right: -800%; }
.s-width-9.s-push-7 { margin-right: -850%; }
.s-width-9.s-push-8 { margin-right: -900%; }
.s-width-9.s-push-9 { margin-right: -950%; }
.s-width-9.s-push-10 { margin-right: -1000%; }
.s-width-9.s-push-11 { margin-right: -1050%; }
.s-width-9.s-push-12 { margin-right: -1100%; }
.s-width-9.s-push-13 { margin-right: -1150%; }
.s-width-9.s-push-14 { margin-right: -1200%; }
.s-width-9.s-push-15 { margin-right: -1250%; }
.s-width-9.s-push-16 { margin-right: -1300%; }
.s-width-9.s-push-17 { margin-right: -1350%; }
.s-width-9.s-push-18 { margin-right: -1400%; }
.s-width-9.s-push-19 { margin-right: -1450%; }
.s-width-9.s-push-20 { margin-right: -1500%; }
.s-width-9.s-push-21 { margin-right: -1550%; }
.s-width-9.s-push-22 { margin-right: -1600%; }
.s-width-9.s-push-23 { margin-right: -1650%; }
.s-width-10.s-push-1 { margin-right: -600%; }
.s-width-10.s-push-2 { margin-right: -650%; }
.s-width-10.s-push-3 { margin-right: -700%; }
.s-width-10.s-push-4 { margin-right: -750%; }
.s-width-10.s-push-5 { margin-right: -800%; }
.s-width-10.s-push-6 { margin-right: -850%; }
.s-width-10.s-push-7 { margin-right: -900%; }
.s-width-10.s-push-8 { margin-right: -950%; }
.s-width-10.s-push-9 { margin-right: -1000%; }
.s-width-10.s-push-10 { margin-right: -1050%; }
.s-width-10.s-push-11 { margin-right: -1100%; }
.s-width-10.s-push-12 { margin-right: -1150%; }
.s-width-10.s-push-13 { margin-right: -1200%; }
.s-width-10.s-push-14 { margin-right: -1250%; }
.s-width-10.s-push-15 { margin-right: -1300%; }
.s-width-10.s-push-16 { margin-right: -1350%; }
.s-width-10.s-push-17 { margin-right: -1400%; }
.s-width-10.s-push-18 { margin-right: -1450%; }
.s-width-10.s-push-19 { margin-right: -1500%; }
.s-width-10.s-push-20 { margin-right: -1550%; }
.s-width-10.s-push-21 { margin-right: -1600%; }
.s-width-10.s-push-22 { margin-right: -1650%; }
.s-width-10.s-push-23 { margin-right: -1700%; }
.s-width-11.s-push-1 { margin-right: -650%; }
.s-width-11.s-push-2 { margin-right: -700%; }
.s-width-11.s-push-3 { margin-right: -750%; }
.s-width-11.s-push-4 { margin-right: -800%; }
.s-width-11.s-push-5 { margin-right: -850%; }
.s-width-11.s-push-6 { margin-right: -900%; }
.s-width-11.s-push-7 { margin-right: -950%; }
.s-width-11.s-push-8 { margin-right: -1000%; }
.s-width-11.s-push-9 { margin-right: -1050%; }
.s-width-11.s-push-10 { margin-right: -1100%; }
.s-width-11.s-push-11 { margin-right: -1150%; }
.s-width-11.s-push-12 { margin-right: -1200%; }
.s-width-11.s-push-13 { margin-right: -1250%; }
.s-width-11.s-push-14 { margin-right: -1300%; }
.s-width-11.s-push-15 { margin-right: -1350%; }
.s-width-11.s-push-16 { margin-right: -1400%; }
.s-width-11.s-push-17 { margin-right: -1450%; }
.s-width-11.s-push-18 { margin-right: -1500%; }
.s-width-11.s-push-19 { margin-right: -1550%; }
.s-width-11.s-push-20 { margin-right: -1600%; }
.s-width-11.s-push-21 { margin-right: -1650%; }
.s-width-11.s-push-22 { margin-right: -1700%; }
.s-width-11.s-push-23 { margin-right: -1750%; }
.s-width-12.s-push-1 { margin-right: -700%; }
.s-width-12.s-push-2 { margin-right: -750%; }
.s-width-12.s-push-3 { margin-right: -800%; }
.s-width-12.s-push-4 { margin-right: -850%; }
.s-width-12.s-push-5 { margin-right: -900%; }
.s-width-12.s-push-6 { margin-right: -950%; }
.s-width-12.s-push-7 { margin-right: -1000%; }
.s-width-12.s-push-8 { margin-right: -1050%; }
.s-width-12.s-push-9 { margin-right: -1100%; }
.s-width-12.s-push-10 { margin-right: -1150%; }
.s-width-12.s-push-11 { margin-right: -1200%; }
.s-width-12.s-push-12 { margin-right: -1250%; }
.s-width-12.s-push-13 { margin-right: -1300%; }
.s-width-12.s-push-14 { margin-right: -1350%; }
.s-width-12.s-push-15 { margin-right: -1400%; }
.s-width-12.s-push-16 { margin-right: -1450%; }
.s-width-12.s-push-17 { margin-right: -1500%; }
.s-width-12.s-push-18 { margin-right: -1550%; }
.s-width-12.s-push-19 { margin-right: -1600%; }
.s-width-12.s-push-20 { margin-right: -1650%; }
.s-width-12.s-push-21 { margin-right: -1700%; }
.s-width-12.s-push-22 { margin-right: -1750%; }
.s-width-12.s-push-23 { margin-right: -1800%; }
.s-width-13.s-push-1 { margin-right: -750%; }
.s-width-13.s-push-2 { margin-right: -800%; }
.s-width-13.s-push-3 { margin-right: -850%; }
.s-width-13.s-push-4 { margin-right: -900%; }
.s-width-13.s-push-5 { margin-right: -950%; }
.s-width-13.s-push-6 { margin-right: -1000%; }
.s-width-13.s-push-7 { margin-right: -1050%; }
.s-width-13.s-push-8 { margin-right: -1100%; }
.s-width-13.s-push-9 { margin-right: -1150%; }
.s-width-13.s-push-10 { margin-right: -1200%; }
.s-width-13.s-push-11 { margin-right: -1250%; }
.s-width-13.s-push-12 { margin-right: -1300%; }
.s-width-13.s-push-13 { margin-right: -1350%; }
.s-width-13.s-push-14 { margin-right: -1400%; }
.s-width-13.s-push-15 { margin-right: -1450%; }
.s-width-13.s-push-16 { margin-right: -1500%; }
.s-width-13.s-push-17 { margin-right: -1550%; }
.s-width-13.s-push-18 { margin-right: -1600%; }
.s-width-13.s-push-19 { margin-right: -1650%; }
.s-width-13.s-push-20 { margin-right: -1700%; }
.s-width-13.s-push-21 { margin-right: -1750%; }
.s-width-13.s-push-22 { margin-right: -1800%; }
.s-width-13.s-push-23 { margin-right: -1850%; }
.s-width-14.s-push-1 { margin-right: -800%; }
.s-width-14.s-push-2 { margin-right: -850%; }
.s-width-14.s-push-3 { margin-right: -900%; }
.s-width-14.s-push-4 { margin-right: -950%; }
.s-width-14.s-push-5 { margin-right: -1000%; }
.s-width-14.s-push-6 { margin-right: -1050%; }
.s-width-14.s-push-7 { margin-right: -1100%; }
.s-width-14.s-push-8 { margin-right: -1150%; }
.s-width-14.s-push-9 { margin-right: -1200%; }
.s-width-14.s-push-10 { margin-right: -1250%; }
.s-width-14.s-push-11 { margin-right: -1300%; }
.s-width-14.s-push-12 { margin-right: -1350%; }
.s-width-14.s-push-13 { margin-right: -1400%; }
.s-width-14.s-push-14 { margin-right: -1450%; }
.s-width-14.s-push-15 { margin-right: -1500%; }
.s-width-14.s-push-16 { margin-right: -1550%; }
.s-width-14.s-push-17 { margin-right: -1600%; }
.s-width-14.s-push-18 { margin-right: -1650%; }
.s-width-14.s-push-19 { margin-right: -1700%; }
.s-width-14.s-push-20 { margin-right: -1750%; }
.s-width-14.s-push-21 { margin-right: -1800%; }
.s-width-14.s-push-22 { margin-right: -1850%; }
.s-width-14.s-push-23 { margin-right: -1900%; }
.s-width-15.s-push-1 { margin-right: -850%; }
.s-width-15.s-push-2 { margin-right: -900%; }
.s-width-15.s-push-3 { margin-right: -950%; }
.s-width-15.s-push-4 { margin-right: -1000%; }
.s-width-15.s-push-5 { margin-right: -1050%; }
.s-width-15.s-push-6 { margin-right: -1100%; }
.s-width-15.s-push-7 { margin-right: -1150%; }
.s-width-15.s-push-8 { margin-right: -1200%; }
.s-width-15.s-push-9 { margin-right: -1250%; }
.s-width-15.s-push-10 { margin-right: -1300%; }
.s-width-15.s-push-11 { margin-right: -1350%; }
.s-width-15.s-push-12 { margin-right: -1400%; }
.s-width-15.s-push-13 { margin-right: -1450%; }
.s-width-15.s-push-14 { margin-right: -1500%; }
.s-width-15.s-push-15 { margin-right: -1550%; }
.s-width-15.s-push-16 { margin-right: -1600%; }
.s-width-15.s-push-17 { margin-right: -1650%; }
.s-width-15.s-push-18 { margin-right: -1700%; }
.s-width-15.s-push-19 { margin-right: -1750%; }
.s-width-15.s-push-20 { margin-right: -1800%; }
.s-width-15.s-push-21 { margin-right: -1850%; }
.s-width-15.s-push-22 { margin-right: -1900%; }
.s-width-15.s-push-23 { margin-right: -1950%; }
.s-width-16.s-push-1 { margin-right: -900%; }
.s-width-16.s-push-2 { margin-right: -950%; }
.s-width-16.s-push-3 { margin-right: -1000%; }
.s-width-16.s-push-4 { margin-right: -1050%; }
.s-width-16.s-push-5 { margin-right: -1100%; }
.s-width-16.s-push-6 { margin-right: -1150%; }
.s-width-16.s-push-7 { margin-right: -1200%; }
.s-width-16.s-push-8 { margin-right: -1250%; }
.s-width-16.s-push-9 { margin-right: -1300%; }
.s-width-16.s-push-10 { margin-right: -1350%; }
.s-width-16.s-push-11 { margin-right: -1400%; }
.s-width-16.s-push-12 { margin-right: -1450%; }
.s-width-16.s-push-13 { margin-right: -1500%; }
.s-width-16.s-push-14 { margin-right: -1550%; }
.s-width-16.s-push-15 { margin-right: -1600%; }
.s-width-16.s-push-16 { margin-right: -1650%; }
.s-width-16.s-push-17 { margin-right: -1700%; }
.s-width-16.s-push-18 { margin-right: -1750%; }
.s-width-16.s-push-19 { margin-right: -1800%; }
.s-width-16.s-push-20 { margin-right: -1850%; }
.s-width-16.s-push-21 { margin-right: -1900%; }
.s-width-16.s-push-22 { margin-right: -1950%; }
.s-width-16.s-push-23 { margin-right: -2000%; }
.s-width-17.s-push-1 { margin-right: -950%; }
.s-width-17.s-push-2 { margin-right: -1000%; }
.s-width-17.s-push-3 { margin-right: -1050%; }
.s-width-17.s-push-4 { margin-right: -1100%; }
.s-width-17.s-push-5 { margin-right: -1150%; }
.s-width-17.s-push-6 { margin-right: -1200%; }
.s-width-17.s-push-7 { margin-right: -1250%; }
.s-width-17.s-push-8 { margin-right: -1300%; }
.s-width-17.s-push-9 { margin-right: -1350%; }
.s-width-17.s-push-10 { margin-right: -1400%; }
.s-width-17.s-push-11 { margin-right: -1450%; }
.s-width-17.s-push-12 { margin-right: -1500%; }
.s-width-17.s-push-13 { margin-right: -1550%; }
.s-width-17.s-push-14 { margin-right: -1600%; }
.s-width-17.s-push-15 { margin-right: -1650%; }
.s-width-17.s-push-16 { margin-right: -1700%; }
.s-width-17.s-push-17 { margin-right: -1750%; }
.s-width-17.s-push-18 { margin-right: -1800%; }
.s-width-17.s-push-19 { margin-right: -1850%; }
.s-width-17.s-push-20 { margin-right: -1900%; }
.s-width-17.s-push-21 { margin-right: -1950%; }
.s-width-17.s-push-22 { margin-right: -2000%; }
.s-width-17.s-push-23 { margin-right: -2050%; }
.s-width-18.s-push-1 { margin-right: -1000%; }
.s-width-18.s-push-2 { margin-right: -1050%; }
.s-width-18.s-push-3 { margin-right: -1100%; }
.s-width-18.s-push-4 { margin-right: -1150%; }
.s-width-18.s-push-5 { margin-right: -1200%; }
.s-width-18.s-push-6 { margin-right: -1250%; }
.s-width-18.s-push-7 { margin-right: -1300%; }
.s-width-18.s-push-8 { margin-right: -1350%; }
.s-width-18.s-push-9 { margin-right: -1400%; }
.s-width-18.s-push-10 { margin-right: -1450%; }
.s-width-18.s-push-11 { margin-right: -1500%; }
.s-width-18.s-push-12 { margin-right: -1550%; }
.s-width-18.s-push-13 { margin-right: -1600%; }
.s-width-18.s-push-14 { margin-right: -1650%; }
.s-width-18.s-push-15 { margin-right: -1700%; }
.s-width-18.s-push-16 { margin-right: -1750%; }
.s-width-18.s-push-17 { margin-right: -1800%; }
.s-width-18.s-push-18 { margin-right: -1850%; }
.s-width-18.s-push-19 { margin-right: -1900%; }
.s-width-18.s-push-20 { margin-right: -1950%; }
.s-width-18.s-push-21 { margin-right: -2000%; }
.s-width-18.s-push-22 { margin-right: -2050%; }
.s-width-18.s-push-23 { margin-right: -2100%; }
.s-width-19.s-push-1 { margin-right: -1050%; }
.s-width-19.s-push-2 { margin-right: -1100%; }
.s-width-19.s-push-3 { margin-right: -1150%; }
.s-width-19.s-push-4 { margin-right: -1200%; }
.s-width-19.s-push-5 { margin-right: -1250%; }
.s-width-19.s-push-6 { margin-right: -1300%; }
.s-width-19.s-push-7 { margin-right: -1350%; }
.s-width-19.s-push-8 { margin-right: -1400%; }
.s-width-19.s-push-9 { margin-right: -1450%; }
.s-width-19.s-push-10 { margin-right: -1500%; }
.s-width-19.s-push-11 { margin-right: -1550%; }
.s-width-19.s-push-12 { margin-right: -1600%; }
.s-width-19.s-push-13 { margin-right: -1650%; }
.s-width-19.s-push-14 { margin-right: -1700%; }
.s-width-19.s-push-15 { margin-right: -1750%; }
.s-width-19.s-push-16 { margin-right: -1800%; }
.s-width-19.s-push-17 { margin-right: -1850%; }
.s-width-19.s-push-18 { margin-right: -1900%; }
.s-width-19.s-push-19 { margin-right: -1950%; }
.s-width-19.s-push-20 { margin-right: -2000%; }
.s-width-19.s-push-21 { margin-right: -2050%; }
.s-width-19.s-push-22 { margin-right: -2100%; }
.s-width-19.s-push-23 { margin-right: -2150%; }
.s-width-20.s-push-1 { margin-right: -1100%; }
.s-width-20.s-push-2 { margin-right: -1150%; }
.s-width-20.s-push-3 { margin-right: -1200%; }
.s-width-20.s-push-4 { margin-right: -1250%; }
.s-width-20.s-push-5 { margin-right: -1300%; }
.s-width-20.s-push-6 { margin-right: -1350%; }
.s-width-20.s-push-7 { margin-right: -1400%; }
.s-width-20.s-push-8 { margin-right: -1450%; }
.s-width-20.s-push-9 { margin-right: -1500%; }
.s-width-20.s-push-10 { margin-right: -1550%; }
.s-width-20.s-push-11 { margin-right: -1600%; }
.s-width-20.s-push-12 { margin-right: -1650%; }
.s-width-20.s-push-13 { margin-right: -1700%; }
.s-width-20.s-push-14 { margin-right: -1750%; }
.s-width-20.s-push-15 { margin-right: -1800%; }
.s-width-20.s-push-16 { margin-right: -1850%; }
.s-width-20.s-push-17 { margin-right: -1900%; }
.s-width-20.s-push-18 { margin-right: -1950%; }
.s-width-20.s-push-19 { margin-right: -2000%; }
.s-width-20.s-push-20 { margin-right: -2050%; }
.s-width-20.s-push-21 { margin-right: -2100%; }
.s-width-20.s-push-22 { margin-right: -2150%; }
.s-width-20.s-push-23 { margin-right: -2200%; }
.s-width-21.s-push-1 { margin-right: -1150%; }
.s-width-21.s-push-2 { margin-right: -1200%; }
.s-width-21.s-push-3 { margin-right: -1250%; }
.s-width-21.s-push-4 { margin-right: -1300%; }
.s-width-21.s-push-5 { margin-right: -1350%; }
.s-width-21.s-push-6 { margin-right: -1400%; }
.s-width-21.s-push-7 { margin-right: -1450%; }
.s-width-21.s-push-8 { margin-right: -1500%; }
.s-width-21.s-push-9 { margin-right: -1550%; }
.s-width-21.s-push-10 { margin-right: -1600%; }
.s-width-21.s-push-11 { margin-right: -1650%; }
.s-width-21.s-push-12 { margin-right: -1700%; }
.s-width-21.s-push-13 { margin-right: -1750%; }
.s-width-21.s-push-14 { margin-right: -1800%; }
.s-width-21.s-push-15 { margin-right: -1850%; }
.s-width-21.s-push-16 { margin-right: -1900%; }
.s-width-21.s-push-17 { margin-right: -1950%; }
.s-width-21.s-push-18 { margin-right: -2000%; }
.s-width-21.s-push-19 { margin-right: -2050%; }
.s-width-21.s-push-20 { margin-right: -2100%; }
.s-width-21.s-push-21 { margin-right: -2150%; }
.s-width-21.s-push-22 { margin-right: -2200%; }
.s-width-21.s-push-23 { margin-right: -2250%; }
.s-width-22.s-push-1 { margin-right: -1200%; }
.s-width-22.s-push-2 { margin-right: -1250%; }
.s-width-22.s-push-3 { margin-right: -1300%; }
.s-width-22.s-push-4 { margin-right: -1350%; }
.s-width-22.s-push-5 { margin-right: -1400%; }
.s-width-22.s-push-6 { margin-right: -1450%; }
.s-width-22.s-push-7 { margin-right: -1500%; }
.s-width-22.s-push-8 { margin-right: -1550%; }
.s-width-22.s-push-9 { margin-right: -1600%; }
.s-width-22.s-push-10 { margin-right: -1650%; }
.s-width-22.s-push-11 { margin-right: -1700%; }
.s-width-22.s-push-12 { margin-right: -1750%; }
.s-width-22.s-push-13 { margin-right: -1800%; }
.s-width-22.s-push-14 { margin-right: -1850%; }
.s-width-22.s-push-15 { margin-right: -1900%; }
.s-width-22.s-push-16 { margin-right: -1950%; }
.s-width-22.s-push-17 { margin-right: -2000%; }
.s-width-22.s-push-18 { margin-right: -2050%; }
.s-width-22.s-push-19 { margin-right: -2100%; }
.s-width-22.s-push-20 { margin-right: -2150%; }
.s-width-22.s-push-21 { margin-right: -2200%; }
.s-width-22.s-push-22 { margin-right: -2250%; }
.s-width-22.s-push-23 { margin-right: -2300%; }
.s-width-23.s-push-1 { margin-right: -1250%; }
.s-width-23.s-push-2 { margin-right: -1300%; }
.s-width-23.s-push-3 { margin-right: -1350%; }
.s-width-23.s-push-4 { margin-right: -1400%; }
.s-width-23.s-push-5 { margin-right: -1450%; }
.s-width-23.s-push-6 { margin-right: -1500%; }
.s-width-23.s-push-7 { margin-right: -1550%; }
.s-width-23.s-push-8 { margin-right: -1600%; }
.s-width-23.s-push-9 { margin-right: -1650%; }
.s-width-23.s-push-10 { margin-right: -1700%; }
.s-width-23.s-push-11 { margin-right: -1750%; }
.s-width-23.s-push-12 { margin-right: -1800%; }
.s-width-23.s-push-13 { margin-right: -1850%; }
.s-width-23.s-push-14 { margin-right: -1900%; }
.s-width-23.s-push-15 { margin-right: -1950%; }
.s-width-23.s-push-16 { margin-right: -2000%; }
.s-width-23.s-push-17 { margin-right: -2050%; }
.s-width-23.s-push-18 { margin-right: -2100%; }
.s-width-23.s-push-19 { margin-right: -2150%; }
.s-width-23.s-push-20 { margin-right: -2200%; }
.s-width-23.s-push-21 { margin-right: -2250%; }
.s-width-23.s-push-22 { margin-right: -2300%; }
.s-width-23.s-push-23 { margin-right: -2350%; }
